@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../fonts/gk5fxslnktthtojxrkp-xjhse6jcpsd2oq89kgohwx0.ttf) format('truetype');
}
