<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Material UI Colors" >

	
	<title>站宝箱 | 颜色参考方案</title>
    <link rel="icon" href="./favicon.png" />
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<![endif]-->
	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	
	<link href='css/1cdf55684d044c4690d6d25fd3d7e75c.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/sissyphoss.css">

   
    
</head>
<body>
	<header>
    	<a href="javascript:;" id="logo">站宝箱颜色制表</a>
    	<div class="slider-container">
        	<span>Level:&nbsp;</span>
        	<span id="brnum">[500]</span>
        	<div id="brightness"></div>
    	</div>
      
        <div class="select-container">
            <div class="md-select">        
                <label for="ul-id"><button type="button" class="ng-binding">HEX - #1234EF</button></label>
                <ul role="listbox" id="ul-id" class="md-whiteframe-z1" aria-activedescendant="state2_AK" name="ul-id">        
                    <li role="option" id="1" tabindex="-1" aria-selected="true"><span>HEX - #1234EF</span></li>
                    <li role="option" id="2" tabindex="-1" aria-selected="false"><span>HEX - 1234EF</span></li>
                    <li role="option" id="3" tabindex="-1" aria-selected="false"><span>RGB - (255,255,255)</span></li>
                    <li role="option" id="4" tabindex="-1" aria-selected="false"><span>RGBA - (12,12,12,1.0)</span></li>
                </ul>
            </div>
        </div>

    	<a href="http://www.zbx.store" target="_blank" class="usepanda">返回首页</a>
        <a href="javascript:" target="_blank" class="tweet" style="background:#FF9800" title="暂不可用">更多...</a>
        <a href="flat/flat.html" class="tweet">扁平化</a>
	</header>
	
	<div class="copied">
    	<div>COPIED!</div>
	</div>
	
	<div class="colors" id="colors">
    	<div class="color" style="background:#F44336">
        	<div class="copy-area" data-clipboard-text="#F44336"> 
            	<span class="label">RED</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_red">MORE</span>
    	</div>
    	<div class="color" style="background:#E91E63">
        	<div class="copy-area" data-clipboard-text="#E91E63"> 
            	<span class="label">PINK</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_pink">MORE</span>
    	</div>
    	<div class="color" style="background:#9C27B0">
        	<div class="copy-area" data-clipboard-text="#9C27B0"> 
            	<span class="label">PURPLE</span>
            	<span class="copy">复制</span>   
        	</div>
        	<span class="more" data-palette-id="muic_purple">MORE</span>     	
    	</div>
    	<div class="color" style="background:#673AB7">
        	<div class="copy-area" data-clipboard-text="#673AB7"> 
            	<span class="label">DEEP PURPLE</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_deep_purple">MORE</span>
    	</div>
    	<div class="color" style="background:#3F51B5">
        	<div class="copy-area" data-clipboard-text="#3F51B5"> 
            	<span class="label">INDIGO</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_indigo">MORE</span>
    	</div>
    	<div class="color" style="background:#2196F3">
        	<div class="copy-area" data-clipboard-text="#2196F3"> 
            	<span class="label">BLUE</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_blue">MORE</span>   	
    	</div>
    	<div class="color" style="background:#03A9F4">
        	<div class="copy-area" data-clipboard-text="#03A9F4"> 
            	<span class="label">LIGHT BLUE</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_light_blue">MORE</span>
    	</div>
    	<div class="color" style="background:#00BCD4">
        	<div class="copy-area" data-clipboard-text="#00BCD4"> 
            	<span class="label">CYAN</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_cyan">MORE</span>
    	</div>
    	<div class="color" style="background:#009688">
        	<div class="copy-area" data-clipboard-text="#009688"> 
            	<span class="label">TEAL</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_teal">MORE</span>
    	</div>
    	<div class="color" style="background:#4CAF50">
        	<div class="copy-area" data-clipboard-text="#4CAF50"> 
            	<span class="label">GREEN</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_green">MORE</span>
    	</div>
    	<div class="color" style="background:#8BC34A">
        	<div class="copy-area" data-clipboard-text="#8BC34A"> 
            	<span class="label">LIGHT GREEN</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_light_green">MORE</span>
    	</div>
    	<div class="color lime" style="background:#CDDC39">
        	<div class="copy-area" data-clipboard-text="#CDDC39"> 
            	<span class="label">LIME</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_lime">MORE</span>
    	</div>
    	<div class="color light" style="background:#FFEB3B">
        	<div class="copy-area" data-clipboard-text="#FFEB3B"> 
            	<span class="label">YELLOW</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_yellow">MORE</span>
    	</div>
    	<div class="color light" style="background:#FFC107">
        	<div class="copy-area" data-clipboard-text="#FFC107"> 
            	<span class="label">AMBER</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_amber">MORE</span>
    	</div>
    	<div class="color light" style="background:#FF9800">
        	<div class="copy-area" data-clipboard-text="#FF9800"> 
            	<span class="label">ORANGE</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_orange">MORE</span>
    	</div>
    	<div class="color" style="background:#FF5722">
        	<div class="copy-area" data-clipboard-text="#FF5722"> 
            	<span class="label">DEEP ORANGE</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_deep_orange">MORE</span>
    	</div>
    	<div class="color" style="background:#795548">
        	<div class="copy-area" data-clipboard-text="#795548"> 
            	<span class="label">BROWN</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_brown">MORE</span>
    	</div>
    	<div class="color" style="background:#9E9E9E">
        	<div class="copy-area" data-clipboard-text="#9E9E9E"> 
            	<span class="label">GREY</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_grey">MORE</span>
    	</div>
    	<div class="color" style="background:#607D8B">
        	<div class="copy-area" data-clipboard-text="#607D8B"> 
            	<span class="label">BLUE GREY</span>
            	<span class="copy">复制</span>
        	</div>
        	<span class="more" data-palette-id="muic_blue_grey">MORE</span>
    	</div>
    	<a href="http://wpa.qq.com/msgrd?v=3&uin=673829275&site=qq&menu=yes" target="_blank" class="panda" data-clipboard-text="#000" style="background:#000">
        	<span class="label">www.zbx.store</span>
        	<img src="picture/tankr.png" alt="" / style="border-radius: 100px">
        	<span class="more" data-palette-id="muic_black">QQ在线</span>
    	</a>
	</div>
	<!-- /.colors -->
	
    <script type="text/template" id="template_colors">
        <% _.each(colors,function(color,key,arr) { %>
            <%if(isMainPalette && color.name === 'panda'){%>
            	<a href="http://wpa.qq.com/msgrd?v=3&uin=673829275&site=qq&menu=yes" target="_blank" class="panda" data-clipboard-text="#000" style="background:#000">
                	<span class="label">www.zbx.store</span>
                	<img src="picture/tankr.png" alt="" style="border-radius: 100px"/>
                	<span class="more" data-palette-id="muic_black">QQ在线</span>
            	</a>          
            <%}else{%>
                <%if(color.name !== "back"){%>
            	<div class="color <%=(color.light)?'light':''%>" style="background:<%=color.color%>">
                	<div class="copy-area" data-clipboard-text="<%=color.color%>"> 
                    	<span class="label"><%=color.name%></span>
                    	<span class="copy">复制</span>
                    </div>
                	<%if(isMainPalette){%>
                    	<span class="more" data-palette-id="<%=color.palette_id%>">MORE</span>
                	<%}%>
            	</div>
            	<%}else{%>
                <div class="back" style="background:#000">
                	<span class="go-back">返回</span>
            	</div>    
            	<%}%>
        	<%}%>
        <% }); %>
    </script>	
	
	<script src="js/berghain.js"></script>
	
	
  
</body>
</html>